.container {
    max-width: 1170px;
    width: 96%;
    margin: auto;
}

body {
    font-family: sans-serif;
}

img {
    max-width: 100%;
}

.button {
    background-color: #ffd200;
    border: none;
}


.header-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 24px;
}

.header__info {
    display: flex;
    text-align: right;
    
}

.header__contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header__adress {
    color: #333;
    font-size: 13px;
    font-weight: 400;
}

.header__phone {
    color: #333;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    margin-top: 7px;
}

.header__button {
    width: 170px;
    height: 49px;
    border-radius: 10px;
    margin-left: 30px;
    font-size: 13px;
    font-weight: 400;
}




@media (max-width: 640px) {
    .header__contacts {
        display: none;
    }
}